.details {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 40%;
    border-radius: 10px;
    border: 2px green solid;
    background-color: white;
    color: black;
    padding: 20px 70px 20px 70px;
}

.details--header {
    display: inline;
}

.details--header__btn {
    float: right;
}

.details--section {
    margin: 50px;
    text-align: left;
}

.details--section__description {
    text-align: center;
}